/*Custom Style*/
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


body {
	font-family:'Montserrat',sans-serif;
	background-color: #ecf0f1;
	text-align: center;

}
.container{
	flex-direction: row;
	margin:0;
	padding:0;
	width:100%;
}
.padding {
	padding:50px 0;
}

.margin {
	margin: 30px 0;
}
.title {
	font-size:5em;
	font-family:'Lato',sans-serif;
	display:block;
}
hr{
    color: #B33771;
}
hr.star {
	margin:25px auto 30px;
	padding:0;
	max-width:250px;
	border:0;
	border-top:solid 5px;
	text-align:center;
}
hr.star:after {
	color:#fff;	
	content:"\2605";
	position:relative;
	top:-.8em;
	padding:0 .25em;
	font-size: 2.5em;
	background:#ecf0f1;
}


/* Navigation Styling */
.navbar {
	background: #6F1E51;
	padding: 20px;
}
.navbar .navbar-brand  {
	color: #ecf0f1;
	font-size: 2.5em;
	font-weight: 700;
}
.navbar .navbar-brand:hover {
color:#ff9f1a;
}
.navbar-default .navbar-nav>li>a {
color:#ecf0f1;
font-size: 1.5em;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a {
	
}


/* Header Styling */
#header {
	background:#ecf0f1; 
	}
#header .icon {
	font-size: 10px;
	margin-top: 70px;
	display: block;
	
}
#header hr.star:after{
	color: #ff9f1a;
}
#header .skills {
	font-size: 2.75em
}

#header hr.star:after{
	color: #ff9f1a;
	
}
#header .header-item{
	width: 100%;
    height: auto;
    background-image: url(ima);

}
#header .header-item img:hover {
	border-radius: 15px;
	padding: 2px;

}
/*down arrow icon*/

#header a{
   color: #F79F1F;
}
#header a:hover {
   color: #EE5A24;
}

/* Work Styling */
#work {
color: #303952;
background:#ffffff;
background-
}

#work img {

}
#work hr.star:after {
color: #ff9f1a;
background:#ffffff;
}

#work .portfolio-item {
border-radius: 15px;	
 height: 300px;
 

   /*can use the same background of image*/ 
}

/*Hover effect*/
#work .portfolio-item img {
   border-radius: 15px;
   margin: 20px 0;
   opacity: 1;
   transition: all .3s;
   border-color: #2c3e50;
}

#work .portfolio-item img:hover {
	border-radius: 15px;
	margin: 5px 0;
	opacity: -5;

}
.image-name{
	font-family: "Times New Roman", Times, serif;
	font-weight: 500;
	color:#2c3e50;
	font-size: 40px;

}

/* Contact Styling */
#contact {	
font-family:'Lato',sans-serif;
color:#dfe4ea;
background:#6F1E51;
}
#contact h4 {
	
}
#contact .has-success .form-control,
#contact .has-success .control-label {
	border-color:#dfe4ea;
	border-radius: 2em 
	color:#dfe4ea;

}

#contact hr.star {
	background-color: #ff9f1a;

}

#contact hr.star:after {
	color: #ff9f1a;
background:#6F1E51;
}
#contact .btn-social {
	display:inline-block;
	width:50px;
	height:50px;
	border:3px solid #34495e;
	border-radius:100%;
	text-align:center;
	font-size:25px;
	font-weight:900;
	line-height:45px;
	border-color: #F79F1F;
	flex-wrap: wrap;
}

#contact .btn-social i {
	background-color: #6F1E51;
}

#contact .socials>li {
    margin: 25px 12px;
}
#contact .socials a {
    transition: all .5s;
}
#contact .socials>li:hover a {
    background: #34495e;
}
#contact .socials>li:hover i {
	color: #F79F1F;
}

#contact .btn-primary {
	background: #B53471;
	border-color: #6F1E51;
}

#contact .btn-primary:focus,
#contact .btn-primary:hover{
	background: #2c3e50;
}

/* Footer Styling */
footer {
background:#747d8c;
color: #EE5A24;
}

footer p {
	font-style: italic;
	font-size: 10px; 
	color: #F79F1F;
	padding: 10px 0;
	margin: 0;
}



/* ==== Media Queries ====*/

/* iPads (Tablets) ----------- */
@media only screen and (min-width: 768px) and (max-width : 1024px) {
/* Styles */
#header{
	padding-top: 100px;
}
.title {

}

.padding {

}

#work .portfolio-item {
	
}

#work .portfolio-item img {

}

#work .portfolio-item img:hover {
	

}

#contact  {
	
}

}

/* Iphone/Android (Small Devices) ----------- */
@media only screen and (min-width : 320px) and (max-width: 767px) {
/* Styles */
body{
	display: inline-block;
	align-content: center;
}
.container{
	display: inline-grid;
	margin:0;
	padding:0;

}
.navbar{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
#work{
	padding-top: 2em;
	background-color:#576574; 
	padding: 100px 0;

}
.title {
	font-size:3em;
}

.skills {
	font-size: 1em;
}

#header .icon {

}
#header .portfolio-item{

}

#work .portfolio-item {

}

#work .portfolio-item img {

}

#work .portfolio-item img:hover {


}

#contact .socials>li {

}

.margin.no_margin_mobile {

}


.contact-form button.pull-right {
	
}

.social-media {

}


}